    <!-- Bootstrap CSS -->

<nav class="navbar navbar-dark navbar-expand-sm  fixed-top">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="#">Vision</a>
                    <div class="collapse navbar-collapse" id="Navbar">
                            <ul class="navbar-nav mr-auto">
                                    <li class="nav-item {{satusHome}}"><a class="nav-link" href="/">Home</a></li>
                                    <li class="nav-item {{satusAbout}} "><a class="nav-link" href="about">About</a></li>
                                    <li class="nav-item {{satusHelp}} "><a class="nav-link" href="help">Help</a></li>
                                    <li class="nav-item {{satusContact}}"><a class="nav-link" href="#">Contact</a></li>
                                </ul>
                    </div>
                 
            
                </div>
            
            </nav>
   

   <header class="jumbotron ">
        <div class="container">
            <div class="row row-header">
                <div class="col-12 col-sm-6">
                    <h1>Vision</h1>
                    <p>Wather Forecaster </p>
                </div>
                <div class="col-12 col-sm">
                        
                </div>
            </div>
        </div>
    </header>






