<!DOCTYPE html>
<html>
<head>
  {{>head}}

</head>
<body>
    {{>header}}
       <div class="container">
        <div class="row row-content align-items-center">
            <div class="col-12 col-sm-4 col-md-3 align-self-center">
                <h3>Mohammed Albalushi</h3>
            </div>
            <div class="col col-sm-6 col-md-6 ">
                <h2>About Me </h2>
                <p>IT with a passion for developing innovative programs that expedite the efficiency and
                    effectiveness of organizational success. Well-versed in technology and writing code to
                    create systems that are reliable and user-friendly. Defined an adaptable, ambitious, self-
                    motivated and down to earth individual Confident communicator, strategic thinker, and
                    innovative creator to develop software that is customized to meet a company’s
                    organizational needs, highlight their core competencies, and further their success.</p>
            </div>
        </div>
       
</body>

<footer>
 {{>footer}}
    </footer>
</html>