<!DOCTYPE html>
<html>

<head>

  {{>head}}
</head>

<body>
  {{>header}}


  <div class="container">
    <div class="row  align-items-center">
      <div class="col-12 col-sm-3 col-md-3 align-self-center">
        <h3>Information</h3>
        <form class="form-inline active-cyan-4  " method="POST" action="/pdf-gen">

        <p>Name</p>
        
          <input class="form-control form-control-sm mr-3 w-75 text-input" type="text" name="name"placeholder="">
          
         <p>Phone Number</p>
          <input class="form-control form-control-sm mr-3 w-75 text-input" type="text" name="number"placeholder="">

            <p>Email</p>
          <input class="form-control form-control-sm mr-3 w-75 text-input" type="text" name="email" placeholder="">
          <p>Department</p>
          <input class="form-control form-control-sm mr-3 w-75 text-input" type="text" name="dpt" placeholder="">
            <input class="form-control form-control-sm mr-3 w-75 btn" type="submit"  placeholder="">



       
        </form>
      </div>


    </div>
    <div>
      <h5 id="title"></h5>
      <p id="body"></p>
    </div>

  </div>



  </div>





  <footer>
    {{>footer}}
  </footer>
</body>


</html>